<a href="https://colab.research.google.com/github/Porra8802/Porra8802/blob/main/Prueba_tecnica2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importación de librerias necesarias

In [5]:
import pandas as pd
import requests
from pandas import json_normalize

##Obtención de columna región

In [6]:
url_region='https://restcountries.com/v3.1/all'
response_region=requests.get(url_region)
data_region=response_region.json()

In [7]:
df_region=pd.DataFrame(data_region)
df_region=json_normalize(data_region)
df_region.head()

,tld,cca2,ccn3,cca3,cioc,independent,status,unMember,capital,altSpellings,...,languages.pol,currencies.MZN.name,currencies.MZN.symbol,currencies.BMD.name,currencies.BMD.symbol,currencies.RUB.name,currencies.RUB.symbol,name.nativeName.kal.official,name.nativeName.kal.common,languages.kal
0,[.fi],FI,246,FIN,FIN,True,officially-assigned,True,[Helsinki],"[FI, Suomi, Republic of Finland, Suomen tasava...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[.gt],GT,320,GTM,GUA,True,officially-assigned,True,[Guatemala City],[GT],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[.cl],CL,152,CHL,CHI,True,officially-assigned,True,[Santiago],"[CL, Republic of Chile, República de Chile]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[.uy],UY,858,URY,URU,True,officially-assigned,True,[Montevideo],"[UY, Oriental Republic of Uruguay, República O...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[.kg],KG,417,KGZ,KGZ,True,officially-assigned,True,[Bishkek],"[KG, Киргизия, Kyrgyz Republic, Кыргыз Республ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##DataFrame columna Región

In [8]:
region_name=df_region.iloc[:,10:11]
region_name.columns=['Región']
region_name.head()

     Región
0    Europe
1  Americas
2  Americas
3  Americas
4      Asia

##Obtención de columna City Name

In [9]:
url_country='https://restcountries.com/v2/all?fields=name,capital,currencies'
response_country=requests.get(url_country)
data_country=response_country.json()

In [10]:
df_country=pd.DataFrame(data_country)
df_country=json_normalize(data_country)
df_country.columns

Index(['name', 'capital', 'currencies', 'independent'], dtype='object')

##DataFrame columna City Name

In [11]:
city_name=df_country.iloc[:,:1]
city_name.columns=['City Name']
city_name.head()

        City Name
0     Afghanistan
1   Åland Islands
2         Albania
3         Algeria
4  American Samoa

#Obtención de columna Languages

In [12]:
url_languages='https://restcountries.com/v3.1/lang/spa'
response_languages=requests.get(url_languages)
data_languages=response_languages.json()

In [13]:
df_languages=pd.DataFrame(data_languages)
df_languages=json_normalize(data_languages)
df_languages.columns

Index(['tld', 'cca2', 'ccn3', 'cca3', 'cioc', 'independent', 'status',
       'unMember', 'capital', 'altSpellings',
       ...
       'languages.bjz', 'gini.1999', 'name.nativeName.cha.official',
       'name.nativeName.cha.common', 'languages.cha', 'currencies.VES.name',
       'currencies.VES.symbol', 'gini.2006', 'currencies.PEN.name',
       'currencies.PEN.symbol'],
      dtype='object', length=174)

##DataFrame columna Languages

In [42]:
language=df_languages.iloc[:,30:31]
language.columns=['Language']
language.head()

  Language
0  Spanish
1  Spanish
2  Spanish
3  Spanish
4  Spanish

##Encriptación con SHA1

In [40]:
import hashlib
language['Language']=language['Language'].astype(str)
language['Language']=language['Language'].apply(lambda x: hashlib.sha256(x.encode()).hexdigest())
language

                                             Language
0   534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
1   534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
2   534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
3   534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
4   534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
5   534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
6   534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
7   534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
8   534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
9   534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
10  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
11  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
12  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
13  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
14  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
15  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
16  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
17  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
18  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
19  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
20  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
21  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
22  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...
23  534c1f2446d98883a63cfb8079b3d14a9d4431c7d519f7...

In [ ]:
three_columns=pd.concat([region_name, city_name, language], ignore_index=True)
three_columns=three_columns.set_index('Región')
three_columns

In [51]:
import time

In [102]:
four_columns=three_columns.assign(Time=0)
four_columns

         City Name Language  Time
Región
Europe         NaN      NaN     0
Americas       NaN      NaN     0
Americas       NaN      NaN     0
Americas       NaN      NaN     0
Asia           NaN      NaN     0
...            ...      ...   ...
NaN            NaN  Spanish     0
NaN            NaN  Spanish     0
NaN            NaN  Spanish     0
NaN            NaN  Spanish     0
NaN            NaN  Spanish     0

[524 rows x 3 columns]

In [111]:
def assign_time(final_time):
       
    for i in range(0, 250):
        i=0
        initial_time=time.process_time()
        final_time=time.process_time()
        total=final_time-initial_time
        i += i
        print(total)

In [ ]:
[assign_time(x) for x in four_columns['Time']]

##DataFrame Final

In [110]:
four_columns

         City Name Language  Time
Región
Europe         NaN      NaN     0
Americas       NaN      NaN     0
Americas       NaN      NaN     0
Americas       NaN      NaN     0
Asia           NaN      NaN     0
...            ...      ...   ...
NaN            NaN  Spanish     0
NaN            NaN  Spanish     0
NaN            NaN  Spanish     0
NaN            NaN  Spanish     0
NaN            NaN  Spanish     0

[524 rows x 3 columns]

##Funciones de la librería pandas para cálculo de tiempo total, tiempo promedio, tiempo mínimo y máximo

In [112]:
four_columns['Time'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of Región
Europe      0
Americas    0
Americas    0
Americas    0
Asia        0
           ..
NaN         0
NaN         0
NaN         0
NaN         0
NaN         0
Name: Time, Length: 524, dtype: int64>

In [113]:
four_columns['Time'].min()

0

In [114]:
four_columns['Time'].max()

0

##Guardar DataFrame en SQLITE

In [119]:
import sqlite3
database = "../tech_test.sqlite"
conn = sqlite3.connect(database)

In [120]:
four_columns.to_sql(name='Data', con=conn)
conn.close()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

##Guardar DataFrame en formato JSON

In [126]:
import json

In [128]:
data=four_columns.to_json(orient="split")
data

'{"columns":["City Name","Language","Time"],"index":["Europe","Americas","Americas","Americas","Asia","Africa","Oceania","Europe","Asia","Americas","Asia","Americas","Americas","Africa","Europe","Oceania","Africa","Americas","Oceania","Americas","Oceania","Africa","Americas","Africa","Africa","Asia","Europe","Asia","Oceania","Americas","Europe","Africa","Americas","Asia","Europe","Oceania","Africa","Oceania","Americas","Europe","Europe","Africa","Americas","Europe","Asia","Africa","Asia","Asia","Americas","Africa","Africa","Africa","Europe","Europe","Asia","Africa","Oceania","Africa","Africa","Africa","Americas","Americas","Oceania","Africa","Asia","Americas","Asia","Americas","Americas","Oceania","Africa","Europe","Asia","Asia","Americas","Americas","Asia","Oceania","Americas","Africa","Americas","Americas","Europe","Africa","Asia","Asia","Africa","Africa","Europe","Americas","Asia","Africa","Europe","Europe","Europe","Africa","Americas","Africa","Americas","Europe","Oceania","Asia","Americas","Oceania","Asia","Africa","Americas","Oceania","Americas","Europe","Europe","Americas","Africa","Africa","Europe","Africa","Africa","Oceania","Asia","Europe","Europe","Africa","Asia","Africa","Asia","Europe","Asia","Europe","Africa","Europe","Asia","Africa","Europe","Americas","Europe","Africa","Asia","Oceania","Africa","Africa","Europe","Asia","Asia","Africa","Asia","Africa","Europe","Asia","Americas","Americas","Africa","Europe","Africa","Europe","Oceania","Americas","Americas","Africa","Asia","Africa","Americas","Asia","Europe","Africa","Africa","Americas","Oceania","Oceania","Americas","Africa","Europe","Oceania","Europe","Europe","Africa","Americas","Asia","Asia","Americas","Americas","Antarctic","Asia","Europe","Americas","Europe","Asia","Europe","Africa","Asia","Asia","Europe","Africa","Africa","Oceania","Asia","Europe","Americas","Asia","Africa","Antarctic","Antarctic","Americas","Asia","Europe","Europe","Asia","Americas","Americas","Americas","Oceania","Asia","Europe","Europe","Africa","Oceania","Europe","Asia","Antarctic","Asia","Europe","Asia","Americas","Americas","Asia","Africa","Americas","Europe","Europe","Asia","Africa","Africa","Oceania","Americas","Africa","Antarctic","Asia","Americas","Asia","Oceania","Europe","Oceania","Oceania","Africa","Americas","Europe","Europe","Africa","Americas","Europe","Americas",null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null],"data":[[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],[null,null,0],["Afghanistan",null,0],["\\u00c5land Islands",null,0],["Albania",null,0],["Algeria",null,0],["American Samoa",null,0],["Andorra",null,0],["Angola",null,0],["Anguilla",null,0],["Antarctica",null,0],["Antigua and Barbuda",null,0],["Argentina",null,0],["Armenia",null,0],["Aruba",null,0],["Australia",null,0],["Austria",null,0],["Azerbaijan",null,0],["Bahamas",null,0],["Bahrain",null,0],["Bangladesh",null,0],["Barbados",null,0],["Belarus",null,0],["Belgium",null,0],["Belize",null,0],["Benin",null,0],["Bermuda",null,0],["Bhutan",null,0],["Bolivia (Plurinational State of)",null,0],["Bonaire, Sint Eustatius and Saba",null,0],["Bosnia and Herzegovina",null,0],["Botswana",null,0],["Bouvet Island",null,0],["Brazil",null,0],["British Indian Ocean Territory",null,0],["United States Minor Outlying Islands",null,0],["Virgin Islands (British)",null,0],["Virgin Islands (U.S.)",null,0],["Brunei Darussalam",null,0],["Bulgaria",null,0],["Burkina Faso",null,0],["Burundi",null,0],["Cambodia",null,0],["Cameroon",null,0],["Canada",null,0],["Cabo Verde",null,0],["Cayman Islands",null,0],["Central African Republic",null,0],["Chad",null,0],["Chile",null,0],["China",null,0],["Christmas Island",null,0],["Cocos (Keeling) Islands",null,0],["Colombia",null,0],["Comoros",null,0],["Congo",null,0],["Congo (Democratic Republic of the)",null,0],["Cook Islands",null,0],["Costa Rica",null,0],["Croatia",null,0],["Cuba",null,0],["Cura\\u00e7ao",null,0],["Cyprus",null,0],["Czech Republic",null,0],["Denmark",null,0],["Djibouti",null,0],["Dominica",null,0],["Dominican Republic",null,0],["Ecuador",null,0],["Egypt",null,0],["El Salvador",null,0],["Equatorial Guinea",null,0],["Eritrea",null,0],["Estonia",null,0],["Ethiopia",null,0],["Falkland Islands (Malvinas)",null,0],["Faroe Islands",null,0],["Fiji",null,0],["Finland",null,0],["France",null,0],["French Guiana",null,0],["French Polynesia",null,0],["French Southern Territories",null,0],["Gabon",null,0],["Gambia",null,0],["Georgia",null,0],["Germany",null,0],["Ghana",null,0],["Gibraltar",null,0],["Greece",null,0],["Greenland",null,0],["Grenada",null,0],["Guadeloupe",null,0],["Guam",null,0],["Guatemala",null,0],["Guernsey",null,0],["Guinea",null,0],["Guinea-Bissau",null,0],["Guyana",null,0],["Haiti",null,0],["Heard Island and McDonald Islands",null,0],["Vatican City",null,0],["Honduras",null,0],["Hungary",null,0],["Hong Kong",null,0],["Iceland",null,0],["India",null,0],["Indonesia",null,0],["Ivory Coast",null,0],["Iran (Islamic Republic of)",null,0],["Iraq",null,0],["Ireland",null,0],["Isle of Man",null,0],["Israel",null,0],["Italy",null,0],["Jamaica",null,0],["Japan",null,0],["Jersey",null,0],["Jordan",null,0],["Kazakhstan",null,0],["Kenya",null,0],["Kiribati",null,0],["Kuwait",null,0],["Kyrgyzstan",null,0],["Lao People\'s Democratic Republic",null,0],["Latvia",null,0],["Lebanon",null,0],["Lesotho",null,0],["Liberia",null,0],["Libya",null,0],["Liechtenstein",null,0],["Lithuania",null,0],["Luxembourg",null,0],["Macao",null,0],["North Macedonia",null,0],["Madagascar",null,0],["Malawi",null,0],["Malaysia",null,0],["Maldives",null,0],["Mali",null,0],["Malta",null,0],["Marshall Islands",null,0],["Martinique",null,0],["Mauritania",null,0],["Mauritius",null,0],["Mayotte",null,0],["Mexico",null,0],["Micronesia (Federated States of)",null,0],["Moldova (Republic of)",null,0],["Monaco",null,0],["Mongolia",null,0],["Montenegro",null,0],["Montserrat",null,0],["Morocco",null,0],["Mozambique",null,0],["Myanmar",null,0],["Namibia",null,0],["Nauru",null,0],["Nepal",null,0],["Netherlands",null,0],["New Caledonia",null,0],["New Zealand",null,0],["Nicaragua",null,0],["Niger",null,0],["Nigeria",null,0],["Niue",null,0],["Norfolk Island",null,0],["Korea (Democratic People\'s Republic of)",null,0],["Northern Mariana Islands",null,0],["Norway",null,0],["Oman",null,0],["Pakistan",null,0],["Palau",null,0],["Palestine, State of",null,0],["Panama",null,0],["Papua New Guinea",null,0],["Paraguay",null,0],["Peru",null,0],["Philippines",null,0],["Pitcairn",null,0],["Poland",null,0],["Portugal",null,0],["Puerto Rico",null,0],["Qatar",null,0],["Republic of Kosovo",null,0],["R\\u00e9union",null,0],["Romania",null,0],["Russian Federation",null,0],["Rwanda",null,0],["Saint Barth\\u00e9lemy",null,0],["Saint Helena, Ascension and Tristan da Cunha",null,0],["Saint Kitts and Nevis",null,0],["Saint Lucia",null,0],["Saint Martin (French part)",null,0],["Saint Pierre and Miquelon",null,0],["Saint Vincent and the Grenadines",null,0],["Samoa",null,0],["San Marino",null,0],["Sao Tome and Principe",null,0],["Saudi Arabia",null,0],["Senegal",null,0],["Serbia",null,0],["Seychelles",null,0],["Sierra Leone",null,0],["Singapore",null,0],["Sint Maarten (Dutch part)",null,0],["Slovakia",null,0],["Slovenia",null,0],["Solomon Islands",null,0],["Somalia",null,0],["South Africa",null,0],["South Georgia and the South Sandwich Islands",null,0],["Korea (Republic of)",null,0],["Spain",null,0],["Sri Lanka",null,0],["Sudan",null,0],["South Sudan",null,0],["Suriname",null,0],["Svalbard and Jan Mayen",null,0],["Swaziland",null,0],["Sweden",null,0],["Switzerland",null,0],["Syrian Arab Republic",null,0],["Taiwan",null,0],["Tajikistan",null,0],["Tanzania, United Republic of",null,0],["Thailand",null,0],["Timor-Leste",null,0],["Togo",null,0],["Tokelau",null,0],["Tonga",null,0],["Trinidad and Tobago",null,0],["Tunisia",null,0],["Turkey",null,0],["Turkmenistan",null,0],["Turks and Caicos Islands",null,0],["Tuvalu",null,0],["Uganda",null,0],["Ukraine",null,0],["United Arab Emirates",null,0],["United Kingdom of Great Britain and Northern Ireland",null,0],["United States of America",null,0],["Uruguay",null,0],["Uzbekistan",null,0],["Vanuatu",null,0],["Venezuela (Bolivarian Republic of)",null,0],["Vietnam",null,0],["Wallis and Futuna",null,0],["Western Sahara",null,0],["Yemen",null,0],["Zambia",null,0],["Zimbabwe",null,0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0],[null,"Spanish",0]]}'